In [1]:
a=10

In [2]:
a="c"

In [3]:
type(a)

str

In [5]:
int(123)

123

In [8]:
print("Hello World")

Hello World

In [9]:
print(123)

123

In [12]:
age=26
print("My age is:",age)

My age is: 26

In [22]:
age=56
print(f"My age is {age}")

My age is 56

In [23]:
age=56
print("My age is {}".format(age))

My age is 56

In [24]:
# f string( without write ,)
age=90
print(f"My age is: {age}")

My age is: 90

In [16]:
## format()
name="Pradosh"
age=32
print("My name is {} and age is {}".format(name,age))

My name is Pradosh and age is 32

In [25]:
name="Pradosh"
age=32
print(f"My name is {name} and age is {age}")

My name is Pradosh and age is 32

In [18]:
#Placeholder
print("My name is {firstname} and age is {firstage}".format( firstname=name,firstage=age))

My name is Pradosh and age is 32

In [1]:
name="Pradosh"
age=32
Degree="BTECH"
print(f"My age is: {age} i have completed: my degree {Degree} with the name of {name}")

My age is: 32 i have completed: my degree BTECH with the name of Pradosh

In [4]:
name="Pradosh"
age=32
Degree="BTECH"
print("My age is {} i have completed my drgree {} with the name of {}. ".format(age,Degree,name))

My age is 32 i have completed my drgree BTECH with the name of Pradosh.

In [2]:
name="Pradosh"
age=32
Degree="B.TECH"
print("My age is {fage} i have completed : my degree in {fDegree} with the name of {fname}".format( fname=name,fDegree=Degree,fage=age))

My age is 32 i have completed : my degree in B.TECH with the name of Pradosh


## Dission making Statemate

In [6]:
## If Statemate(== or >= or <=)
age=int(input("Put your Age"))
if age>=18:
    print("You are elegible to vote")
else:
    print("You are not-elegible to Vote")

Put your Age 18

You are elegible to vote

In [43]:
20>19

True

In [7]:
input()

 pradosh

'pradosh'

In [28]:
name=input("Enter The Name")

Enter The Name Pradosh

In [29]:
name

'Pradosh'

In [30]:
name=int(input("Enter Your Age"))

Enter Your Age 26

In [31]:
## TAsk
## TAke a input age 
### cheak wheather age >=18 and <=45
##display you are young blood

In [47]:
age=int(input('Enter yo:ur age'))
if age>=18 and age <=45:
    print('You are Young :)')
else:
    print("You are not-Young Yet!!")

Enter yo:ur age 60

You are not-Young Yet!!

In [49]:
## if else statemate
age=int(input('Enter yo:ur age'))
if age>=18 and age <=45:
    print('You are Young')
else:
    print("Thankyou, we will let you know")

Enter yo:ur age 25

You are Young

In [ ]:
## mall
## product >1000,20% off
##product <=1000 rs 30% off

In [50]:
product=int(input("Enter Product Price:"))
if product>1000:
    print ('The price of product is :{}'.format(product*0.8))
else:
    print ('The price of product is :{}'.format(product*0.7))

Enter Product Price: 1100

The price of product is :880.0

In [52]:
product=int(input("Enter Product Price:"))
if product>1000:
    print (f"The price of product is :{product*0.8}")
else:
    print (f"The price of product is :{product*0.7}")

Enter Product Price: 1100

The price of product is :880.0

In [8]:
product=int(input("Enter Product Price:"))
if product>1000:
    print ("The price of product is :{fproduct}".format(fprofuct= product*0.8))
else:
    print ("The price of product is :{ffproduct}".format(ffprofuct= product*0.7))

Enter Product Price: 500

KeyError: 'ffproduct'

In [ ]:
## mall
## product >=3000,20% off
##product <=1000 rs 30% off

In [19]:
## Special Product price of 2999 in efif slove
product=int(input("Enter Product Price:"))
if product>=3000:
    print ('The price of product price: {}'.format(product*0.8))
elif product>=2000 and product <2999:
    print ('The price of product price: {}'.format(product*0.7))
elif product==2999:
    print("Congrats,You won a Free Gift")
elif product>=1000 and product <2000:
    print ('The price of product price: {}'.format(product*0.6))
else:
    print ('Lets drink Tea')
    print ("I will be there")

Enter Product Price: 2999

Congrats,You won a Free Gift

In [28]:
## Special Product price of 2999 in (Nestedif) slove
product=int(input("Enter Product Price:"))
if product==4000:
        print("Additional Trip to Goa")
if product==2999:
        print("Congrats,You won a Free Gift")
if product>3000:
    print ('Discounted product price: {}'.format(product*0.8))
elif product>=2000 and product <3000:
    print ('Discounted product price: {}'.format(product*0.7))
elif product>=100 and product <2000:
    print ('Discounted product price: {}'.format(product*0.6))
else:
    print ('Lets drink Tea')
    print ("I will be there")

Enter Product Price: 10000

Discounted product price: 8000.0

In [35]:
## Single Statement Suites (if else exucution)
val=int(input('Enter the number'))
if(val<=999):print(f"Discounted price is {val*0.8}")
else:print(f"Procuct price is {val*1}")

Enter the number 5

Discounted price is 4.0

# Loops statement
 1. While loop
 2. For loop
 3. Nested loop
 4. Loop Control(break,continue,pass)

In [52]:
#while loop-else loop
joining_age=30
while joining_age<60:
    joining_age= joining_age+1
    print(joining_age)
else:
    print('its time to retire')

31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time to retire

In [59]:
total_amount=1000
while total_amount!= 0:
    print(total_amount)
    total_amount= total_amount-100
else:
    print('Put more money bank people')

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

# For Loop

In [67]:
## (this is not 1 it is L)
lst=["Pradosh",1,2,3,4,"Apple","Master"]
type(lst)

list

In [69]:
lst[0]

'Pradosh'

In [5]:
#For Loop
lst=["Pradosh",1,2,3,4,"Apple","Master"]
for x in lst:
    print(x)

Pradosh
1
2
3
4
Apple
Master

In [6]:
fruits_list = ["Apple","Banana","Mango","Papaya"]
for a in fruits_list:
    print(a)

Apple
Banana
Mango
Papaya

In [8]:
fruits_list = ["Apple","Banana","Mango","Papaya"]
for a in fruits_list:
    print(a,end=' ')

Apple Banana Mango Papaya

In [13]:
#Using Break
fruits_list = ["Apple","Banana","Mango","Papaya"]
for a in fruits_list:
    print(a)
    if a=="Mango":
        print("This is Mango")
        break

Apple
Banana
Mango
This is Mango

In [46]:
fruit='mango'
for a in fruit:
    print(a)

m
a
n
g
o

In [45]:
fruit='mango'
for a in fruit:
    print(a,end='')

mango

In [ ]:
## RANGE

In [31]:
range(1,6)

range(1, 6)

In [37]:
for a in range(1,10):
    print(a)

1
2
3
4
5
6
7
8
9

In [39]:
for a in range(1,10,2):
    print(a)

1
3
5
7
9

In [41]:
### Nested Loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")

****************************

In [45]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="\n")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [48]:
n=15

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************

In [7]:
n=7
for i in range(1, 7):
    print(' '*n, end='') # repet space for n times
    print('* '*(i)) # repeat stars for i times
    n-=1

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

In [57]:
## LOop Control
## Break and Continue
fruits_list = ["Banana","Mango","Apple","Cheery"]

In [58]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is Apple")
        break
    print(i)

Banana
Mango
The fruit is Apple

In [59]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is Apple")
        pass
    print(i)

Banana
Mango
The fruit is Apple
Apple
Cheery